# ---- editor & runtime ----
.vscode/
cache/
crash-reports/
libraries/
logs/
versions/

# ---- World data ----
Chthon/
Chthon_nether/
Chthon_the_end/

# ---- plugins: default deny, then explicit allows ----
plugins/**             # ignore everything under plugins/
!plugins/              # but keep traversing the directory
!plugins/*.jar         # allow plugin jars directly under plugins/

# .paper-remapped
plugins/.paper-remapped/

# AuraSkills
!plugins/AuraSkills/**

# bStats
!plugins/bStats/**

# CarbonChat
plugins/CarbonChat/**
!plugins/CarbonChat/
!plugins/CarbonChat/command-settings.conf
!plugins/CarbonChat/config.conf

# DeathChest
!plugins/DeathChest/**

# DHSupport
plugins/DHSupport/**
!plugins/DHSupport/
!plugins/DHSupport/config.yml

# Dynmap
plugins/dynmap/

# Essentials
!plugins/Essentials/**

# Floodgate
!plugins/floodgate/**

# Geyser-Spigot
plugins/Geyser-Spigot/**
!plugins/Geyser-Spigot/
!plugins/Geyser-Spigot/config.yml

# GeyserExtras
plugins/GeyserExtras/**
!plugins/GeyserExtras/
!plugins/GeyserExtras/config.yml

# GSit
plugins/GSit/**
!plugins/GSit/
!plugins/GSit/config.yml

# ImageFrame
plugins/ImageFrame/**
!plugins/ImageFrame/
!plugins/ImageFrame/config.yml

# LuckPerms
plugins/LuckPerms/**
!plugins/LuckPerms/
!plugins/LuckPerms/config.yml

# MiniMOTD
plugins/MiniMOTD/**
!plugins/MiniMOTD/
!plugins/MiniMOTD/main.conf
!plugins/MiniMOTD/plugin_settings.conf

# SeeMore
!plugins/SeeMore/**

# PaperTweaks
!plugins/PaperTweaks/**

# PlaceholderAPI
!plugins/PlaceholderAPI/**

# Plan
plugins/Plan/**
!plugins/Plan/
!plugins/Plan/config.yml

# PrefiX
plugins/PrefiX/**
!plugins/PrefiX/
!plugins/PrefiX/config.yml

# QuickShop-Hikari
plugins/QuickShop-Hikari/**
!plugins/QuickShop-Hikari/
!plugins/QuickShop-Hikari/config.yml

# SkinsRestorer
plugins/SkinsRestorer/**
!plugins/SkinsRestorer/
!plugins/SkinsRestorer/config.yml

# Spark
plugins/spark/**
!plugins/spark/
!plugins/spark/config.json

# update
plugins/update/

# Vault
!plugins/Vault/**

# ViaBackwards
!plugins/ViaBackwards/**

# ViaRewind
!plugins/ViaVersion/**

# VoiceChat
!plugins/voicechat/**

# WorldEdit
plugins/WorldEdit/**
!plugins/WorldEdit/
!plugins/WorldEdit/config.yml

# WorldEditSelectionVisualizer
!plugins/WorldEditSelectionVisualizer/**

# WorldGuard
plugins/WorldGuard/**
!plugins/WorldGuard/
!plugins/WorldGuard/config.yml

# WorldGuardRegionProtect
plugins/WorldGuardRegionProtect/**
!plugins/WorldGuardRegionProtect/
!plugins/WorldGuardRegionProtect/config.yml