*.7z
*.bak
*.dat
*.gz
*.jar
*.log
*.rar
*.sqlite
*.tar
*.tgz
*.tmp
*.zip

!plugins/*.jar
!root/*.jar

.cache/
backup/
cache/
Chthon/
Chthon_nether/
Chthon_the_end/
datapacks/
libraries/
logs/
versions/

.bash_history
.console_history